:root {
  --shadow: 0 5px 5px #0005;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fcfcfc;
}

header,
footer {
  width: 100%;
  min-height: 120px;
  background-color: rgb(75, 75, 213);
  color: white;
  display: grid;
  align-items: center;
  padding: 0 1.4rem;
}

header {
  grid-template-columns: auto 1fr;
}

h1,
h2 {
  text-align: center;
  margin-bottom: 1rem;
}

img {
  justify-self: start;
  height: 50px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  font-size: 1.25rem;
  padding-left: 1em;
}

p {
  text-align: center;
  font-size: 1.8rem;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1.5rem;
  gap: 1rem;
}

.card {
  width: clamp(300px, 80%, 500px);
  background-color: #f8f8f8;
  padding: 1.4rem;
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: var(--shadow);
}

.round {
  border-radius: 100%;
  border: 2px solid white;
  aspect-ratio: 1;
}

.shadow {
  box-shadow: var(--shadow);
}
